<!-- dashboard.component.html -->
<div class="dashboard-container">
  <!-- Encabezado -->
  <div class="dashboard-header">
    <app-jlayaout></app-jlayaout>
  </div>

  <!-- Contenido con menú lateral e información -->
  <div class="dashboard-body">
    <div class="dashboard-sidebar">

       <app-menu-emprendedor (optionSelected)="selectedOption = $event"></app-menu-emprendedor>    </div>
    <div class="dashboard-content">

          <app-form-emprendimiento *ngIf="selectedOption === 'emprendimiento-registrar'"></app-form-emprendimiento>

      <div *ngIf="!selectedOption">Seleccione una opción del menú</div>
    </div>
  </div>
</div>

