<!-- dashboard.component.html -->
<div class="dashboard-container">
  <!-- Encabezado -->
  <div class="dashboard-header">
    <app-jlayaout></app-jlayaout>
  </div>

  <!-- Contenido con menú lateral e información -->
  <div class="dashboard-body">
    <!-- MENÚ SEGÚN ROL -->
    <div class="dashboard-sidebar">

      <div class ="contenedor-menu" *ngIf="getRol() === 'emprendedor'">
        <app-menu-emprendedor (optionSelected)="selectedOption = $event"></app-menu-emprendedor>

      </div>

      <div class ="contenedor-menu" *ngIf="getRol() === 'lider'">
        <app-menu-lider (optionSelected)="selectedOption = $event"></app-menu-lider>
      </div>
    </div>

    <div class="dashboard-content">

      <app-form-emprendimiento *ngIf="selectedOption === 'emprendimiento-registrar'"></app-form-emprendimiento>
      <app-form-emprendimiento *ngIf="selectedOption === 'emprendimiento-editar'" [modoEdicion]="true" ></app-form-emprendimiento>
      <app-form-producto *ngIf="selectedOption === 'producto-registrar'"></app-form-producto>
      <app-catalogo *ngIf="selectedOption === 'producto-editar'"></app-catalogo>
      <div *ngIf="!selectedOption">Seleccione una opción del menú</div>
    </div>
  </div>

</div>