/* Quitar spinners en Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-family: Arial, sans-serif;
 
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
  }

  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 0.3rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .button-group {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap:20px;

  button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;

  &:nth-child(1) {
    background-color: #ff0000af;
    &:hover {
      background-color: #ac3333cb;
    }
  }

  &:nth-child(2) {
    background-color: #d9edf7;
    &:hover {
      background-color: #bce4f1;
    }
  }

  &:nth-child(3) {
    background-color: #4caf50;
    color: white;
    &:hover {
      background-color: #43a047;
    }
  }
}

}
}

