  <!-- Menu -->
<div class="main-container">
    <!-- Menú lateral -->
    <div class="sidebar" [class.collapsed]="isCollapsed">
      <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
      <div class="menu-section" *ngFor="let item of menu">
        <div class="menu-title" (click)="toggleSection(item)">
          {{ item.title }}
        </div>
        <ul class="menu-items" *ngIf="item.open">
          <li *ngFor="let sub of item.subitems">
            <a href="#" (click)="selectSubItem(sub, item.title, $event)">
              <i [ngClass]="getIcon(sub)" class="menu-icon"></i>
              {{ sub }}
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>