<div class="form-container">
  <h2>Detalles de Feria</h2>

  <form>
    <label for="idFeria">Id Feria:</label>
    <input type="text" id="idFeria" value="Id_0098 Feria Agrícola" disabled>

    <label for="titulo">Título:</label>
    <input type="text" id="titulo" placeholder="Feria Agrícola">

    <label for="tipo">Tipo:</label>
    <select id="tipo">
      <option value="presencial">Presencial</option>
      <option value="virtual">Virtual</option>
    </select>

    <label for="participantes">Participantes:</label>
    <input type="text" id="participantes" value="ID AUTOMÁTICO" disabled>

    <label for="fechaPublicacion">Fecha de Publicación:</label>
    <input type="date" id="fechaPublicacion">

    <label for="fechaEvento">Fecha del evento:</label>
    <input type="date" id="fechaEvento">

    <label for="horaApertura">Hora de apertura:</label>
    <input type="time" id="horaApertura">

    <label for="horaFinal">Hora de finalización:</label>
    <input type="time" id="horaFinal">

    <label for="imagen">Subir Imagen:</label>
    <input type="file" id="imagen">

    <label for="ubicacion">Locación:</label>
    <input type="text" id="ubicacion" value="Plaza Fuchi">

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" rows="4" placeholder="Realice una descripción del evento"></textarea>

    <div class="button-group">
      <button type="button">Cancelar</button>
      <button type="button">Limpiar Campos</button>
      <button type="submit">Guardar</button>
      
    </div>
  </form>
</div>
