<div class="form-container">
  <h2>Editar información Líder</h2>
  <form [formGroup]="liderForm" (ngSubmit)="registrar()">


    <label for="idFeria">Modalidad:</label>
      <select id="feria_escogida" formControlName="feria_escogida">
          <option value="" disabled selected>Selecciona una feria</option>
          <option value="id_feria_opcion">id_feria001 Agricola</option>
    </select>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre">

    <label for="modalidad">Modalidad:</label>
        <select id="modalidad_escogida" formControlName="modalidad_escogida">
            <option value="" disabled selected>Selecciona una modalidad</option>
            <option value="presencial">Presencial</option>
            <option value="virtual">Virtual</option>
        </select>

    <label for="fechaInicio">Fecha Inicio:</label>
    <input type="date" id="fechaInicio" formControlName="fechaInicio">

    <label for="fechaCierre">Fecha Cierre:</label>
    <input type="date" id="fechaInicio" formControlName="fechaCierre">

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion" rows="4" cols="50" placeholder="Describe tu emprendimiento..."></textarea>

    <div class="button-group">
      <button type="submit">Registrar</button>
      <button type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
