<div class="form-container">
  <h2>Convocatoria Ferias</h2>
  <table class="tabla-lideres">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Correo</th>
        <th>Fecha de Cierre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>ANDRES PONCE</td>
        <td>12345678</td>
        <td>3123456789</td>
        <td>2025-06-01</td>
        <td class="acciones">
          <button>Editar</button>
          <button>Convocar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
